<body>
	{% load staticfiles %}
	<script type="text/javascript" src="{% static "jquery.min.js" %}"></script>
	<style type="text/css">
		html { height: 100% }
		body { height: 100%; margin: 0; padding: 0 }
		#map-canvas { height: 100% }
	</style>
	<div><div id="map-canvas"/></div>
	<script type="text/javascript"
	      src="https://maps.googleapis.com/maps/api/js?libraries=geometry&amp;key=AIzaSyAJD6fLqhNgsIPyqMAhofYjcVQlKjVBEvA&amp;sensor=true">
	</script>
	<script type"text/javascript">STATIC_URL = "/static/";</script>
	<script type="text/javascript" src="{% static "junction.js" %}"></script>
</body>