<head>
	<title>Add Junction</title>
</head>
<body>
	{% load staticfiles %}
	<script type="text/javascript" src="{% static "jquery.min.js" %}"></script>
	<style type="text/css">
		html { height: 100% }
		body { height: 100%; margin: 0; padding: 0 }
		#map-canvas { height: 100% }
		#float {
			position: absolute;
			width: 150px;
			height: 50px;
			background-color: rgba(180,180,180,0.65);
			bottom: 10%;
			right: 10%;
			z-index: 200;
		}
	</style>
	<div><div id="map-canvas"/></div>
	<div id="float">
		<button id="done" onclick="next()" >Done</button>
		<form action="/weld/" id="submit" method="POST">
			{% csrf_token %}
			<input id="output" name="list" type="hidden" />
			<input type="submit" value="Finish"/>
		</form>
	</div>
	<script type="text/javascript"
	      src="https://maps.googleapis.com/maps/api/js?libraries=geometry&amp;key=AIzaSyAJD6fLqhNgsIPyqMAhofYjcVQlKjVBEvA&amp;sensor=true">
	</script>
	<script type"text/javascript">STATIC_URL = "/static/";</script>
	<script type="text/javascript" src="{% static "junction.js" %}"></script>
</body>